In [62]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
machine = pd.read_csv('machine2.txt', sep=' ')

In [57]:
machine

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

## One tailed t-test

In [59]:
# we calculate the dif in means of the machines
machine['mean-dif'] = machine["Old_machine"] - machine["New_machine"]

In [60]:
machine

   New_machine  Old_machine  mean-dif
0         42.1         42.7       0.6
1         41.0         43.6       2.6
2         41.3         43.8       2.5
3         41.8         43.3       1.5
4         42.4         42.5       0.1
5         42.8         43.5       0.7
6         43.2         43.1      -0.1
7         42.3         41.7      -0.6
8         41.8         44.0       2.2
9         42.7         44.1       1.4

In [64]:
#now we conduct the t-test on our results

# H0 : The difference of the mean =<0
# H1 : The difference of the mean is >0

print('p value (single tailed): ',st.ttest_1samp(machine['mean-dif'],17)[1]/2)

# we get a low P-val so we reject the H0

p value (single tailed):  3.5183740757910892e-12

## Matched Pairs Test

In [67]:
poke = pd.read_csv('pokemon.csv')

In [70]:
poke.drop(["#"], axis=1)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [73]:
# we will look at atack and defence

# H0 : Defense = Attack
# H1 : Defense != Attack

st.ttest_rel(poke['Attack'], poke['Defense'])

# we get a low P-val so we reject the H0

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# ANOVA Part1

#### State the null hypothesis

In [ ]:
# H0 : difference in the mean etching rate for different levels of power = 0

#### State the alternate hypothesis

In [ ]:
# H1 : difference in the mean etching rate for different levels of power != 0

#### What is the significance level

In [ ]:
# 0.02 . you could consider to lower the value because its a factory working on microchips, so you really want the machienes to be accurate.

#### What are the degrees of freedom of model, error terms, and total DoF

In [ ]:
# degrees of freedom of the model: 14
# error terms: 
# total Dof:

# Part 2

In [80]:
beam = pd.read_excel (r'anova_lab_data.xlsx')

In [86]:
print(beam)
beam.columns

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

Index(['Power ', 'Etching Rate'], dtype='object')

In [93]:
beam['power_group'] = beam.groupby('Power ').cumcount()

beam_piv = beam.pivot(index='power_group', columns='Power ', values='Etching Rate')

beam_piv.head()

Power        160 W  180 W  200 W
power_group
0             5.43   6.24   8.79
1             5.71   6.71   9.20
2             6.22   5.98   7.90
3             6.01   5.66   8.15
4             5.59   6.60   7.55

In [97]:
st.f_oneway(beam_piv["160 W"],beam_piv["180 W"],beam_piv["200 W"])

# H0 : difference in the mean etching rate for different levels of power = 0

# We will reject this Hyp, because of the low Pval.

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [95]:
beam_piv.mean()

Power
160 W    5.792
180 W    6.238
200 W    8.318
dtype: float64